<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ProductDbConnectionString" value="Data Source=sqldev01pdsvtc.boden.local;Initial Catalog=UK17AUTMProduct;Integrated Security=SSPI;Persist Security Info=False;Application Name=BodenAutomation" />
  </appSettings>
  <connectionStrings>
    <add name="LogDbConnectionString" connectionString="Server=sqldev01pdsvtc.boden.local;Database=BodenAutomation;User Id=automationuser; Password=1Qazxsw2;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>