<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  
  
  
  
  <appSettings>

    <!-- ############# AWS Environment ######### -->

    <add key="Market" value="AU" />
    <add key="Environment" value="http://m.bodenclothing.com.au" />
    
    <add key="Browser" value="chrome" />  <!--Available values: chrome, firefox, browserstack-->
    <add key="HeadlessMode" value="false" />
    <add key="MilliSecondsToWait" value="10000" />
    <add key="ImplicitSecondsToWait" value="0" />
    <add key="PageLoadSecondsToWait" value="0" />
    <add key="WebDriverWaitInSeconds" value="15" />
    <add key="BrowserTimeoutInSeconds" value="180" />
    <add key="ProductDbConnectionString" value="Data Source=sqldev01pdsvtc.boden.local;Initial Catalog=UK17AUTMProduct;Integrated Security=SSPI;Persist Security Info=False;Application Name=BodenAutomation" />
    <add key="UsePreprod" value="false" />
    <add key="PreProdUrl" value="10.5.40.33:8080" />
    <!--<add key="browserstack.debug" value="false" />-->
    
    
    <!-- Set CreateSetupAccounts to false to speed up tests if accounts already created on environment you wish to run tests on. -->
    <add key="CreateSetupAccounts" value="true" /> 

    <!--Enable/Disable GlobalE Feature-->
    <add key="UseGlobalE" value="false" />
    <add key="GlobalETestUsername" value="bodenstage" />
    <add key="GlobalETestPassword" value="jpst4g34ll0w" />
    <add key="GlobalEMarket" value="JP" />
    <add key="GlobalEJPProxyUrl" value="45.63.124.74:3128" />
    <add key="GlobalEJPProxyUsername" value="boden" />
    <add key="GlobalEJPProxyPassword" value="moronmorbid" />
  </appSettings>
  <connectionStrings>
    <add name="LogDbConnectionString" connectionString="Server=sqldev01pdsvtc.boden.local;Database=BodenAutomation;User Id=automationuser; Password=1Qazxsw2;" />
  </connectionStrings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" /></startup><specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="NUnit" /></specFlow></configuration>