<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!-- In case configuration is not the root element, replace it with root element in source configuration file -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="Market" value="AT" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="Environment" value="http://boden:Redesign_2018@www-at-dx.bodenstaging.com" />
    <!--<add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="Environment" value="http://boden:Redesign_2018@www-at-dx.bodendev.com" />-->
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="UsePreprod" value="true" />
    <add xdt:Locator="Match(key)" xdt:Transform="SetAttributes(value)" key="UseGlobalE" value="false" />
  </appSettings>
</configuration>