<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow"/>
  </configSections>

  <appSettings>

    <!-- ############# AWS Environment ######### -->

    <!--<add key="Market" value="UK" />
    <add key="Environment" value="http://www-uk-green.bodentest.com/" />-->

    <add key="Market" value="UK"/>
    <add key="Environment" value="http://www.boden.co.uk"/>
 
    <add key="Browser" value="chrome"/>
    <add key="HeadlessMode" value="false"/>
    <add key="MilliSecondsToWait" value="10000"/>
    <add key="ImplicitSecondsToWait" value="0"/>
    <add key="PageLoadSecondsToWait" value="0"/>
    <add key="WebDriverWaitInSeconds" value="10"/>
    <add key="BrowserTimeoutInSeconds" value="180"/>
    <add key="ProductDbConnectionString" value="Data Source=sqldev01pdsvtc.boden.local;Initial Catalog=UK17AUTMProduct;Integrated Security=SSPI;Persist Security Info=False;Application Name=BodenAutomation"/>
    <add key="UsePreprod" value="true"/>
    <add key="PreProdUrl" value="10.5.40.33:8080"/>
    <!--<add key="browserstack.debug" value="false"/>-->

    <!-- Set CreateSetupAccounts to false to speed up tests if accounts already created on environment you wish to run tests on. -->
    <add key="CreateSetupAccounts" value="true"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="NUnit"/>
  </specFlow>
</configuration>
